#######
# NIM #
#######
# generated
*.log
main
!main/
nakefile
**/nimcache/**

###########
# ANDROID #
###########
**/jni/src/*.c
**/jni/src/*.json
android/app/src/main/obj/
android/app/src/main/jniLibs/

##############
# SUBMODULES #
##############
vendor

###############
# ENVIRONMENT #
###############
*.swp
.DS_store
.vscode

##########
# GRADLE #
##########
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
