#######
# NIM #
#######

# generated
*.log
main
!main/
nakefile
nimcache/

##############
# SUBMODULES #
##############

vendor
platforms
assets/fonts

###############
# ENVIRONMENT #
###############

*.swp
.DS_store
.vscode
*.idea
*.iml
