#######
# NIM #
#######

# generated
*.log
main
!main/
nakefile
nimcache/

##############
# SUBMODULES #
##############

vendor
assets/fonts

###############
# ENVIRONMENT #
###############

*.swp
.DS_store
.vscode
*.idea
*.iml

###########
# ANDROID #
###########

**/jni/src/*.c
**/jni/src/*.json
android/app/src/main/obj/
android/app/src/main/jniLibs/
android/app/build
android/build
android/local.properties

##########
# GRADLE #
##########

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
