[submodule "google"]
	path = assets/fonts/fonts
	url = https://github.com/google/fonts.git
[submodule "assets/fonts/FiraCode"]
	path = assets/fonts/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "android/app/src/main/jni/SDL"]
	path = android/app/src/main/jni/SDL
	url = git@github.com:fragworks/sdl2.git
[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx.git
